# Ignore everything in /wp-content except your theme
/../../../plugins/
/../../../uploads/
/../../../upgrade/

# Ignore system files
*.DS_Store
Thumbs.db
# Ignorer tous les autres thèmes
/wp-content/themes/*

# Inclure seulement ton thème personnalisé
!/wp-content/themes/mota-theme/
